* {
  margin: 0;
}

body,
html {
  background-color: black;
  background-image: url('./pictures/background.jpg');
  background-image: absolute;
  height: 100%;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}

.App {
  text-align: center;
}